.photo-grid {
  display: grid;
  max-width: 100%;
  padding: 92px 0;
  margin: auto 48px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, max-content);
  grid-auto-rows: max-content;
  gap: 14px;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    gap: 16px;
  }
}

@media screen and (max-width: 764px) {
  .photo-grid {
    padding: 88px 0;
    margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
    margin-right: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-left: 16px;
    margin-right: 16px;
    gap: 12px;
    padding: 64px 0;
  }
}
