.intro__list{
  margin: 0;
  padding: 0;
  padding-top: 33px;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    max-width: calc((100vw - 768px)/(1023 - 768)*(690 - 720) + 720px);
    margin-left: calc((100vw - 768px)/(1024 - 768)*(0 - 24) + 24px);
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: calc((100vw - 320px)/(768 - 320)*(690 - 288) + 288px);
    margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100%;
  }
}