.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  padding-top: 48px;
  word-wrap: break-word;
}

@media screen and (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }
}

@media screen and (max-width: 700px){
  .lead__title {
    min-width: 288px;
    width: calc(100% - 32px);
    font-size: 40px;
    line-height: 110%;
    word-wrap: normal;
  }
}
