.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  width: auto;
}

@media screen and (max-width: 320px){
  .footer__copyright {
    padding-top: 48px;
    text-align: left;
    line-height: 100%;
  }
}