.lead__image {
  margin: 0 auto;
  max-width: calc(100% - 96px);
  justify-content: center;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .lead__image {
    min-width: calc(100% - 296px);
    height: 615px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100%;
  }
}