.website {
  color: #FFFFFF;
  align-self: end;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 697px) {
  .website {
    margin-left: calc((100vw - 320px)/(768 - 320)*(28 - 16) + 16px);
    margin-right: calc((100vw - 320px)/(768 - 320)*(28 - 16) + 16px);
  }
}

@media screen and (max-width: 320px) {
  .website {
    margin-left: 16px;
    margin-right: 16px;
  }
}
