.website__url-heading {
  margin: 0;
  padding: 0;
  color: #AAAAAA;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 786px) {
  .website__url-heading {
    line-height: 100%;
  }
}