.cover__title {
  margin: 0 auto;
  min-width: 288px;
  width: 288px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 32px;
  line-height: 106%;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 33px;
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 33px;
  }
}
@media screen and (min-width: 321px) {
  .cover__title {
    padding-top: calc((100vw - 321px)/(768 - 321)*(115 - 33) + 33px);
    font-size: calc((100vw - 321px)/(769 - 321)*(72 - 32) + 32px);
    min-width: calc((100vw - 321px)/(768 - 321)*(560 - 288) + 288px);
    max-width: 560px;
  }
}

@media screen and (min-width: 769px) {
  .cover__title {
    padding-top: calc((100vw - 769px)/(1024 - 769)*(195 - 115) + 115px);
    min-width: 560px;
    font-size: 72px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    padding-top: 195px;
    font-size: 72px;
  }
}

@media screen and (min-width: 1025px) {
  .cover__title {
    padding-top: 195px;
    padding-top: calc((100vw - 1025px)/(1280 - 1025)*(245 - 195) + 195px);
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    padding-top: 245px;
  }
}
