.intro__title {
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: calc((100vw - 768px)/(1024 - 768)*(690 - 720) + 720px);
    margin-left: calc((100vw - 768px)/(1024 - 768)*(0 - 24) + 24px);
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: calc((100vw - 320px)/(768 - 320)*(720 - 288) + 288px);
    font-size: calc((100vw - 320px)/(768 - 320)*(54 - 32) + 32px);
    margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100% - 32px;
    font-size: 32px;
  }
}
